// Here you can add other styles
// .c-header {
//   background-color: grey;
// }
label {
  color: white;
}
.c-app {
  background-color: #181818;
}
.c-sidebar {
  background-color: #212121;
}
.c-sidebar-brand {
  margin-bottom: 1%;
}

.c-sidebar-nav {
  // background-color: #212121;
  // border-top: 1px white solid;
  border-right: 1px white solid;
}

a:hover,
a:visited,
a:after,
a:active {
  color: white;
}

.c-sidebar .c-sidebar-nav-link,
.c-sidebar .c-sidebar-nav-dropdown-toggle {
  color: white;
  border-radius: 25px;
}

.c-sidebar-minimizer {
  border-top: 1px white solid;
  border-right: 1px white solid;
}

.c-sidebar .c-sidebar-nav-link.c-active,
.c-sidebar .c-active.c-sidebar-nav-dropdown-toggle {
  border-bottom: 1px solid #f1343b;
  border-top: 1px solid #f1343b;
  border-radius: 25px;
  color: white;
  background-color: black;
}

.c-sidebar .c-sidebar-nav-link:hover,
.c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
  color: white;
  background-color: grey;
  border-radius: 25px;
}

.white-mode {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 0;
  min-height: 65px;
}

.dark-mode {
  background-color: #212121;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 0;
  min-height: 65px;
}

.dark-mode,
a {
  color: white;
}

.c-sidebar.c-sidebar-minimized .c-sidebar-nav-item:hover > .c-sidebar-nav-link,
.c-sidebar.c-sidebar-minimized
  .c-sidebar-nav-item:hover
  > .c-sidebar-nav-dropdown-toggle {
  background-color: grey;
}

.c-header-nav-link {
  border-bottom: 1px solid #f1343b;
  border-top: 1px solid #f1343b;
  border-radius: 25px;
}

.c-header-toggle {
  color: white;
}

h4,
h1 {
  color: red;
}

.rangePlayer {
  /*Chrome*/
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type="range"] {
      overflow: hidden;
      -webkit-appearance: none;
      background-color: #9a905d;
    }
    input[type="range"]::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
    }
    input[type="range"]::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background: #434343;
      color: #43e5f7;
    }
  }

  /** FF*/

  input[type="range"]::-moz-range-progress {
    background-color: #43e5f7;
  }

  input[type="range"]::-moz-range-track {
    background-color: #9a905d;
  }

  /* IE*/

  input[type="range"]::-ms-fill-lower {
    background-color: #43e5f7;
  }

  input[type="range"]::-ms-fill-upper {
    background-color: #9a905d;
  }
}

.centerTd {
  vertical-align: center;
  text-align: center;
}

input[type="file"] {
  display: none;
}
.fileThumb {
  background-color: #3498db;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  // margin-bottom: 10px;
  padding: 6px 20px;
}
